<div class="panel panel-primary boxShadow">
	<div class="panel-heading">
		<h3 style="display:inline-block">{{ cons_info.name.first + " " + cons_info.name.last}}</h3>
	</div>
	<div class="panel-body" ng-if="loading">
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>
	<div class="panel-body" ng-if="!loading">
		<div class="row personal-info">
			<div class="col-xs-12 title">
				<h3>Participant Information</h3>
				<div class="divider"></div>
			</div>

			<div class="col-xs-12 col-md-4">
				<h4>{{ cons_info.name.first + " " + cons_info.name.last }}</h4>
				<h5>{{ cons_info.email.primary_address }}</h5>
				<h5>{{ cons_info.home_phone | tel }}</h5>
			</div>

			<div class="col-xs-12 col-md-4">
				<h4>Address:</h4>
				<h5>{{ cons_info.primary_address.street1}}</h5>
				<h5>{{ cons_info.primary_address.street2}}</h5>
				<h5>{{ cons_info.primary_address.city}}, {{ cons_info.primary_address.state}}, {{ cons_info.primary_address.zip}}</h5>
			</div>
			<div class="col-xs-12 col-md-4">
				<h4>Fundraising Total:</h4>
				<h1 class="fundraising">{{fundraisingResults | currency}}</h1>
			</div>
		</div>
		<div class="row alc-info">
			<div class="col-xs-12 title">
				<h3>AIDS/LifeCycle 2018 Information</h3>
				<div class="divider"></div>
			</div>
			<form class="form-horizontal">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label data-toggle="tooltip" title="The participant should be either a Cyclist, Roadie or Staff">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Type:</label>
						<input class="form-control" ng-disabled="true" type="text" value="{{ cons_info.custom.string[0].content }}">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label data-toggle="tooltip" title="This is the region the participant is from: Northern, CA. Souther, CA. Outside of CA.">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Region:</label>
						<input class="form-control" ng-disabled="true" type="text" value="{{ cons_info.custom.string[9].content }}">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6" ng-if="cons_info.custom.string[0].content=='ROADIE'">
					<div class="form-group">
						<label>
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Roadie Team Assignment:</label>
						<input class="form-control" ng-disabled="true" type="text" value="{{ cons_info.custom.string[2].content }}">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label data-toggle="tooltip" title="The ID number assigned to the participant. This number should match the number on the packet and Cyclist's bike frame number.">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Participant Number:</label>
						<input class="form-control" ng-disabled="true" type="text" value="{{ cons_info.custom.string[5].content }}">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label data-toggle="tooltip" title="If this box is not checked, the participant must present a slip or a stamp from the medical team.">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Medical Form Complete:</label>
						<input class="form-control" ng-disabled="true" type="text" value={{medform}}>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label data-toggle="tooltip" title="The participant's meal preference for the week of the event.">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Meal Preference:</label>
						<input class="form-control" ng-disabled="true" type="text" value="{{ cons_info.custom.string[8].content }}">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label data-toggle="tooltip" title="This number should match the tent chip in the participant's packet. It's OK to update number if incorrect or the participant wants to move. Make sure this number matches whatever tent-chip they have when they leave check-in.">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Tent Address:</label>
						<input class="form-control" type="text" ng-model="tentAddress" id="tentAddress">
					</div>
				</div>
				<div class=" col-xs-12 ">
					<h3>
						<span class="glyphicon glyphicon-info-sign " aria-hidden="true "></span> Confirm Check-in</h3>
					<div class="divider "></div>
					<div class="checkbox">
						<label>
							<input ng-model="waiver " type="checkbox"> Received signed waiver.
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input ng-model="packet " type="checkbox"> Delivered particpant packet
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input ng-model="tentAddressConfirm " type="checkbox"> Confirmed Tent Address
						</label>
					</div>
				</div>
			</form>
		</div>
		<!-- End AIDS/LifeCycle Information -->
		<div class="row ">
			<form action=" ">
				<!-- DAY ZERO CHECKIN CONTROLS -->
				<div class="col-xs-12 dotr_button" ng-if="!success">
					<br />
					<button ng-disabled="!tentAddressConfirm || !packet || !waiver || tentAddress.length < 2" ng-click="checkIn() " class="btn btn-success part-info ">CHECK-IN</button>
				</div>
				<div class="col-xs-12" ng-if="success">
					<span class="glyphicon glyphicon-ok-circle success-check" aria-hidden="true"></span>
				</div>
			</form>
		</div>
	</div>
</div>