<div class="panel panel-primary boxShadow">
	<div class="panel-heading">
		<h3 ng-if="!loading" style="display: flex; align-items: center; margin: 12px 0;">
			<span
				>{{ cons_info.name.first + ' ' + cons_info.name.last }} |
				{{ cons_info.primary_address.city }}, {{ cons_info.primary_address.state }}</span
			>
			<span
				style="margin-left: auto; border-radius: 4px; background: white; color: black; padding: 12px;"
				>{{ fundraisingResults | currency }}</span>
		</h3>
	</div>
	<div class="panel-body" ng-if="loading">
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>
	<div class="panel-body" ng-if="!loading">
		<h3 class="intro">
			Please review the information below. It's very important you review each step. Use the
			check-in button at the bottom of the page to complete the process.
		</h3>
		<div class="divider"></div>
		<div class="row alc-info">
			<form class="form-horizontal" action=" ">
				<div class="col-xs-12 step step-1 remove-padding">
					<p>
						<span class="step-bubble">Step 1</span> {{ cons_info.name.first }} is a
						<span>{{ cons_info.custom.string[17].content }}</span
						> assigned to number <span>{{ cons_info.custom.string[5].content }}</span
						>. Take {{ cons_info.name.first }}'s signed waiver and send a runner to find a packet
						with their number.
					</p>
					<p ng-if="fundraisingMinimum" class="cyclist-warning">
						This participant has not met the fundraising minimum. The participant needs to present you with a pass from Donor Services. If they do not have the pass, direct them to the Donor Services area of the room.
					</p>
					<div class="divider divider-margin"></div>
				</div>
				<div class="col-xs-12 step step-2 remove-padding">
					<p ng-if="medform"><span class="step-bubble">Step 2</span> We have received the their medical information. Proceed to step 3.</p>
					<p ng-if="!medform"><span class="step-bubble">Step 2</span> <span class="cyclist-warning" >We have not received this person's medical information. The participant needs to present you with a pass from the Medical team. If they do not have the pass, direct them to the Medical team.</p>
					<div class="divider divider-margin"></div>
				</div>
				<div class="col-xs-12 step step-2 remove-padding">
					<p>
						<span class="step-bubble">Step 3</span> {{ cons_info.name.first }}'s meal
						preference is <span>{{ cons_info.custom.string[8].content }}</span
						>.
						<span
							class="vegetarian"
							ng-if="cons_info.custom.string[8].content.toLowerCase() === 'vegetarian'"
						>
							Make sure they receive the vegetarian wristband.</span
						>
						Make sure the participant has the necessary wrist bands. If you run out of any bands, tell the participant to visit Participant Support tomorrow or any day during the week.
					</p>
					<div class="divider divider-margin"></div>
				</div>
				<div class="col-xs-12 step step-2 remove-padding">
					<p>
						<span
							class="step-bubble"
							data-toggle="tooltip"
							title="This number should match the tent chip in the participant's packet. It's OK to update number if incorrect or the participant wants to move. Make sure this number matches whatever tent-chip they have when they leave check-in."
							>Step 4</span
						>
						Confirm the tent address in the box below. This number should match the chip assigned to
						the participant. If the address is blank or needs to be changed please enter it in the box below.
					</p>
					<input
						style="max-width: 250px;"
						class="form-control"
						type="text"
						ng-model="tentAddress"
						id="tentAddress"
					/>
					<div class="divider divider-margin"></div>
				</div>
				<div class="col-xs-12 remove-padding">
					<h3>
						<span class="glyphicon glyphicon-info-sign " aria-hidden="true "></span> Confirm
						Check-in
					</h3>
					<div class="divider divider-margin"></div>
					<div class="checkbox">
						<label> <input ng-model="waiver " type="checkbox" /> Received signed waiver. </label>
					</div>
					<div class="checkbox">
						<label> <input ng-model="packet " type="checkbox" /> Delivered packet </label>
					</div>
					<div class="checkbox">
						<label>
							<input ng-model="tentAddressConfirm " type="checkbox" /> Confirmed Tent-address
						</label>
					</div>
				</div>
			</form>
		</div>
		<!-- End AIDS/LifeCycle Information -->
		<div class="row ">
			<form ng-submit="checkIn()">
				<!-- DAY ZERO CHECKIN CONTROLS -->
				<div class="col-xs-12 dotr_button" ng-if="!success">
					<br />
					<button
						type="submit"
						ng-disabled="!tentAddressConfirm || !packet || !waiver || tentAddress.length < 2"
						class="btn btn-success part-info "
					>
						CHECK-IN
					</button>
				</div>
				<div class="col-xs-12" ng-if="success">
					<span class="glyphicon glyphicon-ok-circle success-check" aria-hidden="true"></span>
				</div>
			</form>
		</div>
	</div>
</div>
